body {
  background-color:#77A0A9;
}
h1{
  color:#4B2E39;
  font-size:600%;
  letter-spacing: 20px;
  text-decoration: underline;
  text-decoration: bold;
}

p{
  color:#4B2E39;
  font-size: 300%;
 
}

img{
  border: dotted #4B2E39 6px;
  height: 30%;
  width: 30%;
}

iframe{
  border: dotted #4B2E39 6px;
}
ul{
  list-style-type: none;
  position: fixed;
  width: 100%;
}

li{
  float: left;
}
li a{
  padding: 20px;
  font-family:"Vidaloka";
  font-size: 0%;
  border-style: dotted;
  color: 377A0A9;
  text-decorationl-line: none;
}

li a:hover{
  background-color: #6C596E;
  color: #32021F;
}
